*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #1e272e;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  background:url("/proyecto_/assets/img/hero-bg.jpg")no-repeat center center fixed;
  color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); 
}

a {
  color: #cda45e;
  text-decoration: none;
}

a:hover {
  color: #d9ba85;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}
#header {
  background-color: #0c0b09;
  color: #fff;
  padding: 10% 0;
}
#header {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding:15px;
  top: 0;
  width: 100%;
  height: 50%;
  min-height: 50%; 
  margin: auto;
  background: rgba(0, 0, 0, 0.9); 
  position:relative;
  
}

#header.header-nav {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 40%;
  left:10%;
}

/* Estilo para la barra de navegacion */
.barra {
  background: #000;
  padding: 10px 40px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Georgia', serif;
}


.barra ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
  display: flex;
  align-items: center;
}


.barra li {
  position: relative;
  margin: 0 10px;
}


.barra a {
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-weight: normal;
}


.barra a:hover {
  color: #d39c4b;
}

/* Submenú desplegable (primer nivel) */
.barra .menu-principal ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  padding: 5%;
  border: 1% solid #333;
  z-index: 1000;
  min-width: 130%;
  flex-direction: column;
  width: 100%; 
}


.barra .menu-principal ul li {
  margin: 0;
  width: 50%; 
  padding: 5%; 
  box-sizing: border-box; 
}


.barra .menu-principal:hover > ul {
  display: flex;
}


.barra .menu-principal ul li:hover > ul {
  display: block;
  width: 50%; 
}


.barra .menu-principal ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 90%;
}

/* Responsive - Estilo para móviles */
@media (max-width: 768%) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  /* En móviles no hay separadores */
  .navbar li:not(:last-child)::after {
    content: "";
    margin: 0;
  }
}

/* estilos generales*/
.navegador {
  max-width: 50%; 
  background: rgba(40, 37, 37, 0.5); 
  padding:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 4% 8% rgba(0, 0, 0, 0.2);
  border-radius: 8%;
  backdrop-filter: blur(10px); 
  position: relative; 
  top: 0;
  left: 500%; 
  z-index: 999; 
  }
  
  .navegador ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  }
  
  .navegador li {
  margin: 0 10px;
  }
  
  .navegador a {
  color: #ffd700; 
  text-shadow: 1% 1% 2% #000;
  text-decoration: none;
  font-size: 16%;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  }
  
  .navegador a:hover {
  color: #fdfcfa; 
  text-shadow: 2% 2% 4% #000;
  }
  
  .navegador .menu_principal {
  position: relative;
  }
  
  .navegador .menu_principal ul {
  position: absolute;
  top: 0;
  left: 0; 
  width: 200%;
  background: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 6% 15% rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 10px 0;
  list-style: none;
  display: none;
  backdrop-filter: blur(10%);
  z-index: 999; 
  }
  
  .navegador .menu_principal:hover > ul {
  display: block;
  background-color: #000;
  }
  
  /* Submenú de segundo nivel ajustado */
  .navegador .menu_principal ul li {
  position: relative;
  background-color: #000;
  
  
  }
  
  .navegador .menu_principal ul li ul {
  top: 0;
  left: 110%; /* Asegura que el segundo submenú se despliegue a la derecha */
  
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
  .navegador {
    max-width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    left: 0; /* Centra correctamente en móviles */
    flex-direction: column;
    align-items: flex-end;
    padding: 15%;
  }
  
  .navegador ul {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  
  .navegador .menu_principal ul {
    width: 100%;
    position: static;
    box-shadow: none;
  }
}

#hero {
  width: 100%;
  height: 100vh; /* Ya es un porcentaje del alto del viewport */
  background: url("../img/hero-bg.jpg");
  background-size:cover;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Ya es un porcentaje del alto del viewport */
  background-color: black; /* Fondo oscuro directamente */
  width: 15%;
  overflow: hidden;
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
  margin-top: 0; 
  z-index: 2; 
  display: block;
}

/* Encabezado con flecha */
.menu-lateral header {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 1.5%;
}


.menu {
  padding: 0;
  color: #f8e3b6;
}

.menu li {
  margin-bottom: 1.5%; 
}

.menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff; /* Texto blanco para contraste en fondo oscuro */
  padding: 10%; 
  transition: 0.3s;
  margin-top: 15%; 
}

.menu li a img {
  width: 30%;
  height: 30%; 
  margin-right: 10%; 
  border-radius: 100%;
  border: 3px solid #bf9004; 
}

.menu li a .text {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

.menu-lateral.close .menu li a .text {
  opacity: 1;
  visibility: visible;
  display: block;
}
/* Hover */
.menu li a:hover {
  transform: scale(1.05);
  color: #cda45e; /* Color de hover */
}

.menu li a:hover img {
  border-color: #ffe8a6;
  box-shadow: 0 0 8px #ffe8a6;
}

/* Mural de información */
 
.div3 {
  grid-column: span 5 / span 5;
  grid-row: span 6 / span 6;
  background-color: #f5f5f5;
  padding: 2%;
  border-radius: 1%;
  box-shadow: 4% 4% 15% rgba(0, 0, 0, 0.2);
  max-width: 650%;
  margin: 20px auto;
  position: relative;
  left: 5%; 
  top: 0;
  transform: translate(120px);
  animation: fadeIn 1s ease-in-out forwards;
  margin-top: 25px;
  margin-left: 15%; /* Para evitar que choque con el menú lateral */
  margin-right: 10%;
}



.image {
max-width:10%;
height: auto;
border-radius: 5%;
float: left; 
margin-left: 15%; 
margin-bottom: 15%; 
;

}
.img1 {
max-width:20%;
height: auto;
border-radius: 2%;
float: right; 
margin-left: 10%; 
margin-bottom: 10%; 
}
.img2 {
max-width:30%;
height: auto;
border-radius: 2%;
float: right; 
margin-left: 10%; 
margin-bottom: 10%; 
}

#biografia.curiosidades.legado.contexto{
  text-align: center;
}

/* Estilo para los títulos */
h2 {
  font-size: 150%;
  color: #bf9004;  /* Color dorado */
  border-bottom: 2% solid #f8e3b6;
  padding-bottom: 2%;
  text-transform: uppercase;
  margin-bottom: 1%;
}

h1 {
  font-size: 160%;
  color: #3c3400;
  margin-bottom: 1%;
}


p {

  font-size: 100%;
  line-height: 2; /* Incrementamos el espacio entre líneas */
  color: #000000;
  text-align: justify;
  background-color: #ffffff;
  padding: 5%; /* Aumentamos el padding para mayor espacio interior */
  border-left: 2% solid #ffea03;
  border-radius: 1%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%; /* Espaciado adicional debajo del párrafo */
}


.img1{ font-size: 1.2em;
line-height: 1.6;
color: #000000;
text-align: justify;
background-color: #ffffff;
padding: 15px;
border-left: 5px solid #412700;
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;}

.image{font-size: 1.2em;
line-height: 1.6;
color: #000000;
text-align: justify;
background-color: #ffffff;
padding: 15px;
border-left: 5px solid #412700;
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;}

.img2{font-size: 1.2em;
  line-height: 1.6;
  color: #000000;
  text-align: justify;
  background-color: #ffffff;
  padding: 15px;
  border-left: 5px solid #412700;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.box:nth-child(1) {
    animation-delay: 0.2s;
}
.box:nth-child(2) {
    animation-delay: 0.9;
}
.box:nth-child(3) {
    animation-delay: 0.10s;
}