*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #1e272e;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  background: image-set(url(../img/hero-bg.jpg)) no-repeat center center fixed;
  color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.75); 
}

a {
  color: #cda45e;
  text-decoration: none;
}

a:hover {
  color: #d9ba85;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}
/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background-color: #0c0b09;
    color: #fff;
    padding: 20px 0;
     z-index: 1000; /* Debe estar siempre visible */
   position: sticky; 
    }
  
  #header {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
    top: -4px;
    width: 100%;
    height: 70px;
    min-height: 50px; 
    margin: auto;
    background: rgba(0, 0, 0, 0.8); 
    position: sticky;
  }
  
  #header.header-scrolled { 
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    height: 40px;
    left:10px;
    
  }
 

.navbar {
  background: #000;
  padding: 10px 40px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Georgia', serif;
}

/* Oculta el menú por defecto en móviles */
#menuhambur:checked ~ ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items:center;
}

.navbar li {
  position: relative;
  margin: 0 10px;
}

/* Enlaces del navbar */
.navbar a,.navbar label.nav-link {
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-weight: normal;
  cursor: pointer;
}

/* Efecto hover */
.navbar a:hover,.navbar label.nav-link:hover {
  color: #714400;
}

/* Submenús ocultos por defecto */
.navbar .menu-principal ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  padding: 10px 0;
  border: 1px solid #333;
  z-index: 1000;
  min-width: 200px;
  flex-direction: column;
}

/* Sub-submenús */
.navbar .menu-principal ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

/* Mostrar submenú al hacer hover en desktop */
@media (min-width: 769px) {
  .menu-principal:hover > ul {
    display: flex;
  }

  .menu-principal ul li:hover > ul {
    display: block;
  }

  #menuhambur,
  .navbar label[for="menuhambur"] {
    display: none;
  }
}
/* Responsive - Estilo para móviles y tablets */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar li {
    width: 100%;
    margin: 5px 0;
  }

  .navbar .menu-principal ul {
    position: relative;
    top: auto;
    left: auto;
    border: none;
    padding-left: 20px;
    background: none;
    min-width: unset;
  }

  .navbar .menu-principal ul li ul {
    position: relative;
    left: auto;
    top: auto;
  }

  .navbar label.nav-link {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  .navbar .menu-principal > input:checked + label + ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .menu-principal ul li > input:checked + a + ul {
    display: flex;
    flex-direction: column;
  }

  .navbar svg {
    fill: white;
    cursor: pointer;
  }
}
.menu-lateral.close .menu li a .text {
  opacity: 0;
  visibility: hidden;
  display: none;
}


.menu-lateral {
  position: fixed;
  top: 10%;
  left: 0;
  height: 100%; /* Ya es un porcentaje del alto del viewport */
  background-color: black; /* Fondo oscuro directamente */
  width: 15%;
  overflow: hidden;
  box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
  margin-top: 0; 
  z-index: 10; 
  display: block;
}

/* Encabezado con flecha */
.menu-lateral header {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 1.5%;
}


.menu {
  padding: 0;
  color: #f8e3b6;
}

.menu li {
  margin-bottom: 1.5%; 
}

.menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff; /* Texto blanco para contraste en fondo oscuro */
  padding: 10%; 
  transition: 0.3s;
  margin-top: 15%; 
}

.menu li a img {
  width: 30%;
  height: 30%; 
  margin-right: 10%; 
  border-radius: 100%;
  border: 3px solid #bf9004; 
}

.menu li a .text {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

.menu-lateral.close .menu li a .text {
  opacity: 1;
  visibility: visible;
  display: block;
}
/* Hover */
.menu li a:hover {
  transform: scale(1.05);
  color: #cda45e; /* Color de hover */
}

.menu li a:hover img {
  border-color: #ffe8a6;
  box-shadow: 0 0 8px #ffe8a6;
}

/* Mural de información */
 
.div3 {
  grid-column: span 5 / span 5;
  grid-row: span 6 / span 6;
  background-color: #f5f5f5;
  padding: 2%;
  border-radius: 1%;
  box-shadow: 4% 4% 15% rgba(0, 0, 0, 0.2);
  max-width: 650%;
  margin: 20px auto;
  position: relative;
  left: 5%; 
  top: 0;
  transform: translate(120px);
  animation: fadeIn 1s ease-in-out forwards;
  margin-top: 25px;
  margin-left: 15%; /* Para evitar que choque con el menú lateral */
  margin-right: 10%;
  
}



.image {
max-width:10%;
height: auto;
border-radius: 5%;
float: left; 
margin-left: 15%; 
margin-bottom: 15%; 
;

}
.img1 {
max-width:20%;
height: auto;
border-radius: 2%;
float: right; 
margin-left: 10%; 
margin-bottom: 10%; 
}
.img2 {
max-width:30%;
height: auto;
border-radius: 2%;
float: right; 
margin-left: 10%; 
margin-bottom: 10%; 
}

#biografia.curiosidades.legado.contexto{
  text-align: center;
}

/* Estilo para los títulos */
h2 {
  font-size: 150%;
  color: #bf9004;  /* Color dorado */
  border-bottom: 2% solid #f8e3b6;
  padding-bottom: 2%;
  text-transform: uppercase;
  margin-bottom: 1%;
}

h1 {
  font-size: 160%;
  color: #3c3400;
  margin-bottom: 1%;
}


p {

  font-size: 100%;
  line-height: 2; /* Incrementamos el espacio entre líneas */
  color: #000000;
  text-align: justify;
  background-color: #ffffff;
  padding: 5%; /* Aumentamos el padding para mayor espacio interior */
  border-left: 2% solid #ffea03;
  border-radius: 1%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%; /* Espaciado adicional debajo del párrafo */
}


.img1{ font-size: 1.2em;
line-height: 1.6;
color: #000000;
text-align: justify;
background-color: #ffffff;
padding: 15px;
border-left: 5px solid #412700;
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;}

.image{font-size: 1.2em;
line-height: 1.6;
color: #000000;
text-align: justify;
background-color: #ffffff;
padding: 15px;
border-left: 5px solid #412700;
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;}

.img2{font-size: 1.2em;
  line-height: 1.6;
  color: #000000;
  text-align: justify;
  background-color: #ffffff;
  padding: 15px;
  border-left: 5px solid #412700;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.box:nth-child(1) {
    animation-delay: 0.2s;
}
.box:nth-child(2) {
    animation-delay: 0.9;
}
.box:nth-child(3) {
    animation-delay: 0.10s;
}